body {
    background-image: url("img.jpg");
}

h1 {
    background-color: #FFF;
    border-radius: 5px;
    border: 4px solid black;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
}

#hello {
    text-align: center;
    font-size: 50px;
    margin: 30px;
}

#info-form {
    background-color: #FFF;
    padding: 50px;
    border-radius: 5px;
    border: 4px solid black;
}

#name, #age {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 2px;
}

#third {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 2px;
}

button {
    width: 100%;
    padding: 20px;
    font-size:20px;
    box-sizing: border-box;
    margin: 2px;
    border-radius: 5px;
    border: 2px solid black;
}

img {
    display: none;
}

footer {
    background-image: none;
}

@media screen and (max-width: 480px) {
    body {
        background-image: none; 
        background-color: blue;
    }

    h1 {
        background-color: #FFF;
        border-radius: 5px;
        border: 4px solid black;
    }
    
    #container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    
    #hello {
        text-align: center;
        font-size: 35px;
        margin: 5px;
    }
    
    #info-form {
        background-color: blue;
        border: 0 blue;
        padding: 5px;
    }
    
    #name, #age {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        font-size: 20px;
        border-radius: 2px;
        border: 2px solid black;
        margin: 2px;
    }
    
    #third {
        width: 100%;
        padding: 2px;
        box-sizing: border-box;
        font-size: 20px;
        border-radius: 2px;
        border: 2px solid black;
        margin: 2px;
    }
    
    button {
        width: 100%;
        padding: 2px;
        font-size:25px;
        box-sizing: border-box;
        margin: 2px;
        border-radius: 5px;
        border: 2px solid black;
    }

    #dog {
        object-fit: 
    }
}
